<main class="main">
  <div class="main-box">
    <div class="file-input" [style.height.px]="inputSize()[1]" [style.width.px]="inputSize()[2]">
      <input
        #fileInput
        type="file"
        accept="image/*"
        (change)="onFileSelected($event)"
        style="display: none"
      />

      @if (!hasImage()) {
        <label class="file-input__overlay" (click)="fileInput.click()">
          <img ngSrc="load_icon.svg" width="32" height="32" />
          <span><strong>Click to upload</strong> or drag and drop</span>
          <span>PNG, JPG, WEBP</span>
        </label>
      }

      <canvas
        #previewCanvas
        [width]="inputSize()[2]"
        [height]="inputSize()[1]"
        [style.cursor]="hasImage() ? 'pointer' : 'default'"
        (click)="hasImage() && fileInput.click()"
      >
      </canvas>
    </div>
    <div>
      <h3>Predictions</h3>
      @for (label of labels(); track label[0]) {
        <div>{{ label }}</div>
      }
    </div>
  </div>
</main>
